.step__count {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .step {
    flex: 1;
    font-size: 0.9rem;
    padding: 16px 24px;
    font-size: 1.15rem;
    font-weight: 600;
    text-align: center;
    background: whitesmoke;
    border: 1px solid lightgrey;
    border-bottom: none;
  }

  .step:nth-child(2) {
    border: none;
    border-top: 1px solid lightgrey;
  }

  .step__active {
    background: #69b868;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: whitesmoke;
  border: 1px solid lightgrey;
  padding: 20px 50px 37px;

  #form__button {
    height: 60px;
    width: 100%;
    margin: 0 auto;
    background: #69b868;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(105 184 104 / 50%);
  }
  #form__button__invalid {
    height: 60px;
    width: 100%;
    margin: 0 auto;
    background: rgb(105 184 104 / 70%);
    color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgb(105 184 104 / 50%);
  }
}

.form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  height: 128px;
  width: 100%;
  margin-bottom: 30px;

  h2 {
    font-weight: 700;
  }
  img {
    height: 70px;
  }
}

.form__group {
  display: flex;
  margin: 10px;

  .form__label {
    min-width: 10rem;
    margin: 10px 0;
    color: #69b868;
    font-weight: 700;
    font-size: 1.15rem;
  }
  .form__group__wrapper {
    flex: 1;
    height: 100px;
    display: flex;
    flex-direction: column;
    .form__input {
      height: 50px;
      width: 100%;
      color: grey;
      padding: 10px;
      border: 1px solid lightgrey;
      border-radius: 5px;
    }
    .error__message {
      height: 50px;
      padding-left: 5px;
      color: red;
      font-size: 0.85rem;
    }
  }
}
