// Step Count Component
.step__count {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .step {
    flex: 1;
    font-size: 0.9rem;
    padding: 16px 24px;
    font-size: 1.15rem;
    font-weight: 600;
    text-align: center;
    background: whitesmoke;
    border: 1px solid lightgrey;
    border-bottom: none;
  }

  .step:nth-child(2) {
    border: none;
    border-top: 1px solid lightgrey;
  }

  .step__active {
    background: #69b868;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

// Form Component
.form {
  background: whitesmoke;
  border: 1px solid lightgrey;
  padding: 20px 50px 37px;

  .form__anonymous {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .form__label__wrapper {
      .form__anonymous__label {
        flex: 1;
        font-size: 0.75rem;
        color: grey;
      }
    }

    .form__checkbox {
      border: 1px solid lightgrey;
    }
  }

  #form__button {
    height: 60px;
    width: 100%;
    margin: 15px auto;
    background: #69b868;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(105 184 104 / 50%);
  }
  #form__button__invalid {
    height: 60px;
    width: 100%;
    margin: 15px auto;
    background: rgb(105 184 104 / 70%);
    color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgb(105 184 104 / 50%);
  }
}

// Form Title Component
.form__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  height: 70px;
  width: 100%;
  margin-bottom: 30px;

  h3 {
    font-weight: 700;
  }
  .form__img {
    height: 50px;
  }
}

// Form Input Component
.form__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  .form__label {
    width: 50%;
    margin: 10px 0;
    color: #69b868;
    font-weight: 700;
    font-size: 1.15rem;
  }

  .form__group__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .form__input {
      color: grey;
      border: 1px solid lightgrey;
      border-radius: 5px;
    }

    .error__message {
      height: 25px;
      padding-left: 5px;
      color: red;
      font-size: 0.85rem;
    }
  }
}

// EXP Input Component
.form__group__exp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .form__label__exp {
    width: 50%;
    margin: 10px;
    color: #69b868;
    font-weight: 700;
    font-size: 1.15rem;
  }

  .form__group__container__exp {
    width: 100%;
    .form__group__wrapper__exp {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .form__input__exp {
        width: 50%;
        color: grey;
        border: 1px solid lightgrey;
        border-radius: 5px;
      }
    }
  }
  .error__message__exp {
    height: 25px;
    padding-left: 5px;
    color: red;
    font-size: 0.85rem;
  }
}
